.hidden {
  opacity: 0;
}

.box .sb-dropdown {
  position: relative;
  display: inline-block;
  opacity:1;
}

.box .sb-menu {
  position: absolute;
  top: 100%;
  max-height:80vh;
  overflow-y: scroll;
  left: 0;
  width: 180px;
  background: var(--background);
  border-radius: 4px;
  opacity: 0;
  transform: translateY(-5px);
  pointer-events: none;
  transition: all 0.15s ease;
  z-index: 10;
}

/* This is now controlled by JS State */
.box .sb-menu.is-open {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.box .sb-item {
  display: block;
  width: 100%;
  padding: 8px 12px;
  color: #fff;
  border: none;
  text-align: left;
  cursor: pointer;
  opacity:0.7
}




.version{
  position: absolute;
  left:0;
  bottom:0;
  padding:20px;
}
.version .sb-dropdown {
  position: relative;
  display:inline-block;
}

.version .sb-menu {
  opacity: 0;
  position:absolute;
  bottom:100%;

  flex-direction: column-reverse;
  display:flex;
  overflow-y: scroll;

  max-height: 40vh;
  /* scrollbar-width: thin; */

  left: 0;
  width: 180px;
  border-radius: 4px;
  transform: translateY(-5px);
  pointer-events: none;
  transition: all 0.15s ease;
  z-index: 10;
}

.version .sb-menu.is-open {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.version .sb-item {
  opacity:0.3;
  display: block;
  padding: 8px 12px;
  color: #fff;
  text-align: left;
  cursor: pointer;
  transition: opacity 0.4s ease
}

.version .sb-item:hover {
  opacity:0.9;
}




.scrollContainer{
  overflow-y: scroll;
}
.scrollContainer::-webkit-scrollbar {
  width: 4px;
}
.scrollContainer::-webkit-scrollbar-track {
  background: transparent;
}
.scrollContainer::-webkit-scrollbar-thumb {
  background-color: transparent;
  border: 1px rgba(255, 255, 255, 0.25) solid;
  border-radius: 20px;
}
.scrollContainer::-webkit-scrollbar-thumb:hover {

} 